openapi: 3.0.1
info:
  title: "Ecosyste.ms: Packages"
  description: "An open API service providing package, version and dependency metadata many open source software ecosystems and registries."
  contact:
    name: Ecosyste.ms
    email: support@ecosyste.ms
    url: https://ecosyste.ms 
  version: 1.0.0
  license:
    name: CC-BY-4.0
    url: https://creativecommons.org/licenses/by/4.0/
externalDocs:
  description: GitHub Repository
  url: https://github.com/ecosyste-ms/packages
servers:
- url: https://packages.ecosyste.ms/api/v1
paths:
  /registries:
    get:
      summary: list registies
      operationId: getRegistries
      tags:
        - registries
      parameters:
        - name: page
          in: query
          description: pagination page number 
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          description: Number of records to return 
          required: false
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Registry'
  /registries/{registryName}:
    get:
      summary: get a registry by name
      operationId: getRegistry
      tags:
        - registries
      parameters:
        - in: path
          name: registryName
          schema:
            type: string
          required: true
          description: name of registry
        - name: page
          in: query
          description: pagination page number 
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          description: Number of records to return 
          required: false
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registry'
  /registries/{registryName}/maintainers:
    get:
      summary: get a list of maintainers from a registry
      operationId: getRegistryMaintainers
      tags:
        - maintainers
      parameters:
        - in: path
          name: registryName
          schema:
            type: string
          required: true
          description: name of registry
        - name: page
          in: query
          description: pagination page number 
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          description: Number of records to return 
          required: false
          schema:
            type: integer
        - name: created_after
          in: query
          description: filter by created_at after given time
          required: false
          schema:
            type: string
            format: date-time
        - name: updated_after
          in: query
          description: filter by updated_at after given time
          required: false
          schema:
            type: string
            format: date-time
        - name: sort
          in: query
          description: field to order results by
          required: false
          schema:
            type: string
        - name: order
          in: query
          description: direction to order results by
          required: false
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Maintainer'
  /registries/{registryName}/maintainers/{MaintainerLoginOrUUID}:
    get:
      summary: get a maintainer by login or UUID
      operationId: getRegistryMaintainer
      tags:
        - maintainers
      parameters:
        - in: path
          name: registryName
          schema:
            type: string
          required: true
          description: name of registry
        - in: path
          name: MaintainerLoginOrUUID
          schema:
            type: string
          required: true
          description: login or uuid of maintainer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Maintainer'
  /registries/{registryName}/maintainers/{MaintainerLoginOrUUID}/packages:
    get:
      summary: get packages for a maintainer by login or UUID
      operationId: getRegistryMaintainerPackages
      tags:
        - maintainers
      parameters:
        - in: path
          name: registryName
          schema:
            type: string
          required: true
          description: name of registry
        - in: path
          name: MaintainerLoginOrUUID
          schema:
            type: string
          required: true
          description: login or uuid of maintainer
        - name: page
          in: query
          description: pagination page number 
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          description: Number of records to return 
          required: false
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Package'
  /registries/{registryName}/namespaces:
    get:
      summary: get a list of namespaces from a registry
      operationId: getRegistryNamespaces
      tags:
        - namespaces
      parameters:
        - in: path
          name: registryName
          schema:
            type: string
          required: true
          description: name of registry
        - name: page
          in: query
          description: pagination page number 
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          description: Number of records to return 
          required: false
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Namespace'
  /registries/{registryName}/namespaces/{namespaceName}:
    get:
      summary: get a namespace by name
      operationId: getRegistryNamespace
      tags:
        - namespaces
      parameters:
        - in: path
          name: registryName
          schema:
            type: string
          required: true
          description: name of registry
        - in: path
          name: namespaceName
          schema:
            type: string
          required: true
          description: name of namespace
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Namespace'
  /registries/{registryName}/namespaces/{namespaceName}/packages:
    get:
      summary: get packages for a namespace by login or UUID
      operationId: getRegistryNamespacePackages
      tags:
        - namespaces
      parameters:
        - in: path
          name: registryName
          schema:
            type: string
          required: true
          description: name of registry
        - in: path
          name: namespaceName
          schema:
            type: string
          required: true
          description: lname of namespace
        - name: page
          in: query
          description: pagination page number 
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          description: Number of records to return 
          required: false
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Package'
  /registries/{registryName}/packages:
    get:
      summary: get a list of packages from a registry
      operationId: getRegistryPackages
      tags:
        - packages
      parameters:
        - in: path
          name: registryName
          schema:
            type: string
          required: true
          description: name of registry
        - name: page
          in: query
          description: pagination page number 
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          description: Number of records to return 
          required: false
          schema:
            type: integer
        - name: created_after
          in: query
          description: filter by created_at after given time
          required: false
          schema:
            type: string
            format: date-time
        - name: updated_after
          in: query
          description: filter by updated_at after given time
          required: false
          schema:
            type: string
            format: date-time
        - name: sort
          in: query
          description: field to order results by
          required: false
          schema:
            type: string
        - name: order
          in: query
          description: direction to order results by
          required: false
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Package'
  /registries/{registryName}/package_names:
    get:
      summary: get a list of package names from a registry
      operationId: getRegistryPackageNames
      tags:
        - packages
      parameters:
        - in: path
          name: registryName
          schema:
            type: string
          required: true
          description: name of registry
        - name: page
          in: query
          description: pagination page number 
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          description: Number of records to return 
          required: false
          schema:
            type: integer
        - name: created_after
          in: query
          description: filter by created_at after given time
          required: false
          schema:
            type: string
            format: date-time
        - name: updated_after
          in: query
          description: filter by updated_at after given time
          required: false
          schema:
            type: string
            format: date-time
        - name: sort
          in: query
          description: field to order results by
          required: false
          schema:
            type: string
        - name: order
          in: query
          description: direction to order results by
          required: false
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /registries/{registryName}/versions:
    get:
      summary: get a list of recently published versions from a registry
      operationId: getRegistryRecentVersions
      tags:
        - packages
      parameters:
        - in: path
          name: registryName
          schema:
            type: string
          required: true
          description: name of registry
        - name: page
          in: query
          description: pagination page number 
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          description: Number of records to return 
          required: false
          schema:
            type: integer
        - name: created_after
          in: query
          description: filter by created_at after given time
          required: false
          schema:
            type: string
            format: date-time
        - name: updated_after
          in: query
          description: filter by updated_at after given time
          required: false
          schema:
            type: string
            format: date-time
        - name: published_after
          in: query
          description: filter by published_at after given time
          required: false
          schema:
            type: string
            format: date-time
        - name: sort
          in: query
          description: field to order results by
          required: false
          schema: 
            type: string
        - name: order
          in: query
          description: direction to order results by
          required: false
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VersionWithPackage'
  /registries/{registryName}/packages/{packageName}:
    get:
      summary: get a package by name
      operationId: getRegistryPackage
      tags:
        - packages
      parameters:
        - in: path
          name: registryName
          schema:
            type: string
          required: true
          description: name of registry
        - in: path
          name: packageName
          schema:
            type: string
          required: true
          description: name of package
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Package'
  /registries/{registryName}/packages/{packageName}/dependent_packages:
    get:
      summary: get a list of packages that depend on a package
      operationId: getRegistryPackageDependentPackages
      tags:
        - packages
      parameters:
        - in: path
          name: registryName
          schema:
            type: string
          required: true
          description: name of registry
        - in: path
          name: packageName
          schema:
            type: string
          required: true
          description: name of package
        - name: page
          in: query
          description: pagination page number 
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          description: Number of records to return 
          required: false
          schema:
            type: integer
        - name: created_after
          in: query
          description: filter by created_at after given time
          required: false
          schema:
            type: string
            format: date-time
        - name: updated_after
          in: query
          description: filter by updated_at after given time
          required: false
          schema:
            type: string
            format: date-time
        - name: sort
          in: query
          description: field to order results by
          required: false
          schema:
            type: string
        - name: order
          in: query
          description: direction to order results by
          required: false
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Package'
  /registries/{registryName}/packages/{packageName}/related_packages:
    get:
      summary: get a list of packages that are related to a package
      operationId: getRegistryPackageRelatedPackages
      tags:
        - packages
      parameters:
        - in: path
          name: registryName
          schema:
            type: string
          required: true
          description: name of registry
        - in: path
          name: packageName
          schema:
            type: string
          required: true
          description: name of package
        - name: page
          in: query
          description: pagination page number 
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          description: Number of records to return 
          required: false
          schema:
            type: integer
        - name: created_after
          in: query
          description: filter by created_at after given time
          required: false
          schema:
            type: string
            format: date-time
        - name: updated_after
          in: query
          description: filter by updated_at after given time
          required: false
          schema:
            type: string
            format: date-time
        - name: sort
          in: query
          description: field to order results by
          required: false
          schema:
            type: string
        - name: order
          in: query
          description: direction to order results by
          required: false
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Package'
  /registries/{registryName}/packages/{packageName}/versions:
    get:
      summary: get a list of versions for a package
      operationId: getRegistryPackageVersions
      tags:
        - packages
      parameters:
        - in: path
          name: registryName
          schema:
            type: string
          required: true
          description: name of registry
        - in: path
          name: packageName
          schema:
            type: string
          required: true
          description: name of package
        - name: page
          in: query
          description: pagination page number 
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          description: Number of records to return 
          required: false
          schema:
            type: integer
        - name: created_after
          in: query
          description: filter by created_at after given time
          required: false
          schema:
            type: string
            format: date-time
        - name: updated_after
          in: query
          description: filter by updated_at after given time
          required: false
          schema:
            type: string
            format: date-time
        - name: published_after
          in: query
          description: filter by published_at after given time
          required: false
          schema:
            type: string
            format: date-time
        - name: sort
          in: query
          description: field to order results by
          required: false
          schema:
            type: string
        - name: order
          in: query
          description: direction to order results by
          required: false
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Version'
  /registries/{registryName}/packages/{packageName}/versions/{versionNumber}:
    get:
      summary: get a version of a package
      operationId: getRegistryPackageVersion
      tags:
        - packages
      parameters:
        - in: path
          name: registryName
          schema:
            type: string
          required: true
          description: name of registry
        - in: path
          name: packageName
          schema:
            type: string
          required: true
          description: name of package
        - in: path
          name: versionNumber
          schema:
            type: string
          required: true
          description: number of version
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
components:
  schemas:
    Registry:
      type: object
      properties:
        name:
          type: string
        url:
          type: string
        ecosystem:
          type: string
        default:
          type: boolean
        packages_count:
          type: integer
          format: int64
        maintainers_count:
          type: integer
          format: int64
        github:
          type: string
        metadata:
          type: object
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        packages_url:
          type: string
        maintainers_url:
          type: string
    Package:
      type: object
      properties:
        name:
          type: string
        ecosystem:
          type: string
        description:
          type: string
        homepage:
          type: string
        licenses:
          type: string
        repository_url:
          type: string
        keywords_array:
          type: array
          items: {}
        namespace:
          type: string
        versions_count:
          type: integer
        latest_release_published_at:
          type: string
          format: date-time
        latest_release_number:
          type: string
        last_synced_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        registry_url:
          type: string
        documentation_url:
          type: string
        install_command:
          type: string
        metadata:
          type: object
        repo_metadata:
          type: object
        repo_metadata_updated_at:
          type: string
          format: date-time
        dependent_packages_count:
          type: integer
        downloads:
          type: integer
        downloads_period:
          type: string
        dependent_repos_count:
          type: integer
        rankings:
          type: object
        purl:
          type: string
        advisories:
          type: array
          items:
            $ref: '#/components/schemas/Advisory'
        versions_url:
          type: string
        dependent_packages_url:
          type: string
        related_packages_url:
          type: string
        maintainers:
          type: array
          items:
            $ref: '#/components/schemas/Maintainer'
    Version:
      type: object
      properties:
          number:
            type: string
          published_at:
            type: string
          licenses:
            type: string
          integrity:
            type: string
          status:
            type: string
          download_url:
            type: string
          registry_url:
            type: string
          documentation_url:
            type: string
          install_command:
            type: string
          metadata:
            type: object
          created_at:
            type: string
            format: date-time
          updated_at:
            type: string
            format: date-time
          purl:
            type: string
          dependencies:
            type: array
            items:
              $ref: '#/components/schemas/Dependency'
    VersionWithPackage:
      type: object
      properties:
        number:
          type: string
        published_at:
          type: string
        licenses:
          type: string
        integrity:
          type: string
        status:
          type: string
        download_url:
          type: string
        registry_url:
          type: string
        documentation_url:
          type: string
        install_command:
          type: string
        metadata:
            type: object
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        purl:
          type: string
        package:
          type: object
          $ref: '#/components/schemas/Package'
        dependencies:
          type: array
          items:
            $ref: '#/components/schemas/Dependency'
    Dependency:
      type: object
      properties:
        package_name:
          type: string
        requirements:
          type: string
        kind:
          type: string
        optional:
          type: boolean
    Maintainer:
      type: object
      properties:
        uuid:
          type: string
        login:
          type: string
        name:
          type: string
        email:
          type: string
        url:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        packages_count:
          type: integer
        packages_url:
          type: string
        html_url:
          type: string
        role:
          type: string
          optional: true
    Namespace:
      type: object
      properties:
        name:
          type: string
        packages_count:
          type: integer
        packages_url:
          type: string
    Advisory:
      type: object
      properties:
        uuid:
          type: string
        url:
          type: string
        title:
          type: string
        description:
          type: string
        origin:
          type: string
        severity:
          type: string
        published_at:
          type: string
        withdrawn_at:
          type: string
        classification:
          type: string
        cvss_score:
          type: number
        cvss_vector:
          type: string
        references:
          type: array
          items:
            type: string
        source_kind:
          type: string
        identifiers:
          type: array
          items:
            type: string
        packages:
          type: array
          items:
            type: object
        created_at:
          type: string
        updated_at:
          type: string
        