<nav class="header__local__navigation">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="https://opencollective.com/ecosystems" target="_blank">Support</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/ecosyste-ms/<%= github_repo_name %>" target="_blank">GitHub</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/docs">API</a>
    </li>
  </ul>
</nav>