<div class="card mb-3 registry d-flex" id="registry_<%= registry.id %>">
  <div class="card-body pb-1">
    <div class="d-flex">
      
      <div class="flex-grow-1 ms-3 text-break">
        <h5 class='card-title'>
          <%= link_to registry.name, registry_packages_path(registry.name) %>
        </h5>
      
        <p class="card-subtitle mb-2 text-muted">
          <%= number_with_delimiter registry.packages_count %> packages
        </p>
      </div>
      <div class="flex-shrink-0">
        <img src="https://github.com/<%= registry.github %>.png" class="rounded" height='40' width='40' onerror="this.style.display='none'">
      </div>  
    </div>
  </div>
</div>
