<% @meta_title = "#{@registry.name} recent versions" %>

<div class="container-sm">
  <h2>
  <%= @registry %> recent versions
</h2>

<%= render partial: "version_with_package", collection: @versions, as: :version %>

<%== pagy_bootstrap_nav(@pagy) if @pagy.pages && @pagy.pages > 1 %>  
</div>
