@import "bootstrap"; 
@import "ecosystems"; 



pre code.hljs{
  padding: 0 !important;
}

#readme-body img, #readme-body table{
  max-width: 100%;
}

.registry{
  @include media-breakpoint-up(sm){
    min-height: 200px;
  }
}

