@import "bootstrap"; 

.text-decoration-hover{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

pre code.hljs{
  padding: 0 !important;
}

#readme-body img, #readme-body table{
  max-width: 100%;
}