$font-family-base: "Inter", sans-serif;
$font-size-base: 1.125rem; //18px
$line-height-base: 1.3334;
$body-font-weight: 400;

@import "bootstrap"; 

.text-decoration-hover{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}
body {
  font-optical-sizing: auto;
}

pre code.hljs{
  padding: 0 !important;
}

#readme-body img, #readme-body table{
  max-width: 100%;
}

.registry{
  @include media-breakpoint-up(sm){
    min-height: 200px;
  }
}

/* Variables */
$color-purple: #7878EF;
$color-purple-light: #BBBBFF;
$color-purple-dark: #5C5CCF;

$color-orange: #FF807D;
$color-orange-light: #FEBDB9;
$color-orange-dark: #C65568;

$color-green: #45E56E;
$color-green-light: #75D293;
$color-green-dark: #2EAF6B;

$color-black: #1D1D28;
$color-white: #FFFFFF;


.header {
  display: flex;
  align-items: center;
}

.site-logo {
  font-size: 0;
  line-height: 0;
  color: transparent;

  background-image: asset-url('ecosystems-logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  display: inline-block;
  width: 246px;
  height: 50px;
}

.site-name {
  line-height: 50px;
  display: inline-block;
  vertical-align: middle;
  font-size: 40px;
  font-weight: 400;
  color: $color-purple;
  padding-top: 70px;
}

.site-logo--white {
  background-image: asset-url('ecosystems-logo-white.svg');
}

.header {
  h1{
    margin: 0;
  }
}

.dark-section {
  background-color: $color-purple-dark;
  color: $color-white;
  a {
    color: $color-white;
    &:hover,
    &:active,
    &:focus 
    &:visited {
      color: $color-white;
    }
    
  }
}

/*  Header */
.header {
  padding: 2em 0 1em;
}

/*  Footer */
.footer {
  padding: 2em 0;
  margin-top: 4em;
}

.footer-links {
  margin-top: 1rem;
  @include media-breakpoint-up(md) {
    text-align: right;
  }
  a {
    text-decoration: none;
  }
  li {
    margin-bottom: 0.25rem;
  }
}

.footer-icons {
  margin-top: 1em;
  a {
    margin: 0 0.5em;
    text-decoration: none;
  }
}
