name: Zizmor Security Audit

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  zizmor:
    name: Audit GitHub Actions
    runs-on: ubuntu-latest
    permissions:
      security-events: write # Needed to upload SARIF results to GitHub Security
      contents: read # Needed to checkout repository
      actions: read # Needed to analyze workflow files
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false
      - uses: zizmorcore/zizmor-action@e639db99335bc9038abc0e066dfcd72e23d26fb4
        with:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
