name: Zizmor Security Audit

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  zizmor:
    name: Audit GitHub Actions
    runs-on: ubuntu-latest
    permissions:
      security-events: write # Needed to upload SARIF results to GitHub Security
      contents: read # Needed to checkout repository
      actions: read # Needed to analyze workflow files
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          persist-credentials: false
      - uses: zizmorcore/zizmor-action@e673c3917a1aef3c65c972347ed84ccd013ecda4
        with:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
