<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">
      <%= link_to export.date, export.download_url, target: :_blank %>
      <% if export.latest? %>
        <span class="badge bg-primary">Latest</span>
      <% end %>
    </h5>

    <small class='text-muted'>
      URL: <%= link_to export.download_url, export.download_url, target: :_blank %><br/>
      License: <%= link_to 'CC-BY-SA', 'https://creativecommons.org/licenses/by-sa/4.0/legalcode.txt' %><br/>
      Packages: ~<%= number_with_delimiter(export.packages_count.round(-2)) %>
    </small>
  </div>
</div>